{% extends 'base.html' %}
{% block content %}
  <section>
    {% if sentence %}
      <h2>{{ sentence }}</h2>
      <form action="{{ url_for('main.add_favorite')}}" method="post">
        <input type="hidden" name="sentence" value="{{ sentence }}">
        <button type="submit" id="like-button"><img src="{{ url_for('static', filename='assets/like_button.png') }}" alt="heart shaped like button"></button>
      </form>
      <button type="button" name="refresh" onclick="window.location.reload()">Another?</button>
    {% else %}
    <form action="{{ url_for('main.sentence') }}" method="POST">
      <label for="length">How many words should I generate?</label>
      <input type="number" name="length" id="length">
      <input type="submit" name="submit" value="Submit">
    </form>
    {% endif %}
  </section>
{% endblock %}
